/* Основні стилі */
:root {
  --primary-color: #0055a5;
  --secondary-color: #003366;
  --hover-color: #003f7d;
  --background-light: #f4f4f4;
  --background-white: #ffffff;
  --text-color: #333;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--background-white);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  background-color: var(--secondary-color);
  color: var(--background-white);
  padding: 2em 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

nav a {
  color: var(--background-white);
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--hover-color);
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.news-item {
  padding: 10px 15px;
  background-color: var(--background-white);
  border-left: none;
  margin-bottom: 10px;
  border-radius: 4px;
}

.news-item .facebook-container {
  display: flex;
  justify-content: center;
}

.news-item iframe[src*="post.php"] {
  width: 500px;
  height: 600px; /* Автоматична висота для дописів */
}

.news-item iframe[src*="video.php"] {
  width: 560px;
  height: 314px;
}

footer {
  background-color: var(--secondary-color);
  color: var(--background-white);
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

/* Стилі для згортання/розгортання меню */
nav .menu-toggle {
    display: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 20px;
}

nav.menu-collapsed .menu-items {
    max-height: 0;
    overflow: hidden;
}

/* Стилі для мобільної версії */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav .menu-toggle {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav.menu-expanded .menu-items {
        max-height: 500px; /* Достатня висота для розкритого меню */
    }

    nav.menu-collapsed {
        height: auto;
    }

    .news-item iframe {
        max-width: 100%;
        height: auto;
    }

    .news-item iframe[src*="video.php"] {
        height: auto;
    }
}
